{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modnyk Clothing Store</title>

    <!-- Link to static files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
</head>

<body>
<!-- Fixed header with main navigation and sub-navigation -->
<header class="fixed-top">
    <!-- Main navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="{% url 'shop:index' %}" class="navbar-brand fw-bold fs-4">MODNYK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% for gender in genders %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:product_list' %}?gender={{gender.name}}">{{gender.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'customer:profile' %}">
                            <i class="bi bi-person-circle fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'shop:favorites_list' %}">
                            <i class="bi bi-heart fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'cart:cart' %}">
                            <i class="bi bi-cart fs-5"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-person-circle fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-heart fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-cart fs-5"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sub-navigation -->
    <div class="bg-light text-dark py-2 shadow-sm">
        <div class="container">
            <div class="d-flex justify-content-around">
                {% for category in index_categories %}
                <a href="{% url 'products:product_list' %}?main_category={{category}}" class="text-dark text-decoration-none">{{category}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</header>

{% block content %}
<main class="mt-4 pt-4">
    <!-- Sales and promotions carousel -->
    <section class="py-2 container">
        <div id="promoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner rounded shadow-sm">
                <!-- Carousel items -->
                {% for banner in banners %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ banner.image.url }}" class="d-block w-100" alt="{{ banner.name }}"
                         style="height: 400px; object-fit: cover;">
                </div>
                {% endfor %}
            </div>
            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Features section -->
    <section class="features-section container my-5">
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <i class="bi bi-truck feature-icon"></i>
                <h5 class="mt-3">Free Shipping</h5>
                <p>Enjoy free shipping on all orders above $50.</p>
            </div>
            <div class="col-md-4 mb-4">
                <i class="bi bi-arrow-repeat feature-icon"></i>
                <h5 class="mt-3">Easy Returns</h5>
                <p>30-day easy returns on all products.</p>
            </div>
            <div class="col-md-4 mb-4">
                <i class="bi bi-shield-check feature-icon"></i>
                <h5 class="mt-3">Secure Payments</h5>
                <p>Your payment information is processed securely.</p>
            </div>
        </div>
    </section>

    <!-- New arrivals products section -->
    <section class="container mt-5" id="products-container" style="scroll-margin-top: 150px;">
        <h2 class="text-center mb-5">New Arrivals</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- Product cards -->
            {% for product in products %}
            <div class="col">
                <div class="card h-100 shadow-sm border-0" id="product{{product.id}}" style="scroll-margin-top: 150px;">
                    <!-- Like button form -->
                    {% if user.is_authenticated %}
                    <form method="POST" class="position-absolute top-0 end-0 mt-2 me-2" action="#product{{product.id}}">
                        {% csrf_token %}
                        <button class="btn btn-light like-btn" name="favorite_form" value="{{product.id}}"
                                onclick="toggleLike(this)">
                            <i class="bi bi-heart-fill"
                               style="color: {% if product.id in favorite_boolean %}#FF0000{% else %}grey{% endif %};"></i>
                        </button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-light like-btn position-absolute top-0 end-0 mt-2 me-2" onclick="toggleLike(this)">
                        <i class="bi bi-heart-fill" style="color: grey;"></i>
                    </a>
                    {% endif %}
                    <!-- Images -->
                    <a href="{% url 'products:product_info' product.pk %}">
                        {% if product.products_images.all %}
                        <img src="{{ product.products_images.all.first.image.url }}" class="card-img-top rounded-top"
                             alt="product.name" style="object-fit: cover; height: 300px;">
                        {% else %}
                        <img src="{% static 'img/default_product.png' %}" class="card-img-top rounded-top"
                             alt="default_photo" style="object-fit: cover; height: 300px;">
                        {% endif %}
                    </a>
                    <!-- Product data -->
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-truncate">{{ product.name }}</h5>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <p class="card-text text-danger fw-bold mb-0">${{ product.price }}</p>
                            <div class="d-flex align-items-center">
                                <!-- Product rating -->

                                <h5 class="card-title"
                                    style="padding-right: 5px; margin: 0px; display: flex; justify-content: center; align-items: center;">
                <span class="fa fa-star {% if product.average_rating >= 0.5 %} checked {% endif %}"
                      style="font-size: 0.7rem; margin-right: 3px;"></span>
                                    <span class="fa fa-star {% if product.average_rating >= 1.5 %} checked {% endif %}"
                                          style="font-size: 0.7rem; margin-right: 3px;"></span>
                                    <span class="fa fa-star {% if product.average_rating >= 2.5 %} checked {% endif %}"
                                          style="font-size: 0.7rem; margin-right: 3px;"></span>
                                    <span class="fa fa-star {% if product.average_rating >= 3.5 %} checked {% endif %}"
                                          style="font-size: 0.7rem; margin-right: 3px;"></span>
                                    <span class="fa fa-star {% if product.average_rating >= 4.5 %} checked {% endif %}"
                                          style="font-size: 0.7rem; margin-right: 3px;"></span>
                                </h5>

                                <a href="{% url 'products:product_info' product.pk %}#reviews-container"
                                   class="text-decoration-none text-muted small">{{ product.review_count }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Pagination controller -->
    <div class="container mt-5 d-flex justify-content-center">
        {% if products.has_previous %}
        <a class="btn btn-outline-primary me-2" href="?page={{ products.previous_page_number }}#products-container">
            <i class="bi bi-arrow-left"></i>
        </a>
        {% endif %}
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </button>
            {% if products.paginator.num_pages > 1 %}
            <ul class="dropdown-menu">
                {% if products.has_previous %}
                <li><a class="dropdown-item" href="?page=1#products-container">First page</a></li>
                {% endif %}
                {% if products.has_next %}
                <li><a class="dropdown-item" href="?page={{ products.paginator.num_pages }}#products-container">Last
                    page</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        {% if products.has_next %}
        <a class="btn btn-outline-primary ms-2" href="?page={{ products.next_page_number }}#products-container">
            <i class="bi bi-arrow-right"></i>
        </a>
        {% endif %}
    </div>
</main>
{% endblock content %}

<!-- Footer -->
<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <div class="social-icons mb-3">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
        <p>&copy; 2024 Modnyk Clothing Store. All Rights Reserved.</p>
    </div>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
    function toggleLike(button) {
    const icon = button.querySelector('i');
    icon.style.color = icon.style.color === 'grey' ? '#FF0000' : 'grey';
  }
</script>
</body>
</html>
