/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px; /* Adjust based on combined height of both navbars */
}

/* Card (Product) Styles */
.card {
    margin-bottom: 10px; /* Reduced space between products */
}

/* Truncated Text */
.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Footer Styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Like Button Styles */
.like-btn {
    background: none;
    border: none;
}

.like-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Star Rating Styles */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0.1rem;
    font-size: 2rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    cursor: pointer;
    color: #ddd;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}

/* Modal Styles */
.modal-content {
    padding: 20px;
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid #ddd;
}

.modal-body {
    text-align: center;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary,
.btn-outline-light {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    width: 40px;
    text-align: center;
    border: none !important;
    box-shadow: none !important;
}

.btn-outline-secondary:focus,
.btn-outline-light:focus {
    box-shadow: none;
}

/* Review Rating Styles */
.review-item {
    background-color: #f9f9f9;
}

.review-author {
    font-size: 1rem;
    color: #333;
}

.review-comment p {
    font-size: 1rem;
    color: #555;
}

.rating-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
    color: orange;
}

.checked {
    color: orange;
}

/* Table Styles */
.table th, .table td {
    white-space: nowrap;
}

table td {
    padding: 10px;
}

th.text-center.w-10, td.text-center {
    width: 8%;
}

/* Input Field Styles */
.input-group {
    display: flex;
    align-items: center;
    width: 120px;
}

#quantity {
    width: 40px;
    text-align: center;
}

.input-group button {
    margin: 0 2px;
    flex-grow: 0;
}

/* Custom Textarea Styles */
.custom-textarea {
    width: 100%;
    resize: none;
    height: 200px;
}

/* Remove Focus Styles */
.no-focus:focus {
    outline: none;
    box-shadow: none;
}

/* Success Button Styles */
.btn-outline-success {
    background-color: #007bff;
    border-color: #007bff;
}

/* Scroll Behavior */
html {
    scroll-behavior: auto !important;
}
