{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div>
        <p style="font-size: 100px; color: #e74c3c; margin: 0;">404</p>
        <p style="font-size: 24px; margin: 0;">PAGE NOT FOUND</p>
        <p style="font-size: 18px; color: #666; margin: 20px 0;">Sorry, but the page you are looking for does not exist or has been moved.</p>
        <a href="/" style="text-decoration: none; color: #3498db; font-size: 18px;">Return to Homepage</a>
</div>


{% endblock content %}